# Composite Data Types

In [1]:
b=[10,20,30,40,50]
type(b)

list

### Bytes Data types

In [2]:
x=bytes(b)
type(x)

bytes

In [6]:
x[0]

10

In [4]:
for i in x:
    print(i)

10
20
30
40
50

*Points to be noted:*
1. *It does not support item assignment because it is immutable.*
2. *Value-once defined, cannot be modified.*

In [9]:
# x[1]=16 ---error -> 'bytes' object does not support item assignment*

### Bytesarray Datatype

*It is same as bytes data type and is mutable*

In [13]:
y=[10,20,30,40,50]
ba=bytearray(y)
type(ba)

bytearray

In [14]:
for i in ba:
    print(i)

10
20
30
40
50

In [15]:
ba[2]

30

In [26]:
#Changing the value of ba[2]
ba[2]=43

In [27]:
for i in ba:
    print(i)

10
20
43
40
50

### List

*A List is a collection of hetrogeneous elements(can be int,float,str or anything)*

*If we want to represent a group of data as a single entity where:*
1. *Insertion order is preserved*
2. *hetrogeneous elements are allowed*
3. *Duplicates are allowed*
4. *Growable in nature*
5. *It's mutable*
6. *Value enclosed in [] and seperated by ,*

In [60]:
list1=[10,20.4,'aiden',7+8j,True,10]

In [61]:
list1[0]

10

In [62]:
list1[3]

(7+8j)

In [63]:
# Changing the value of list1[5]
list1[5]=35

In [64]:
# Adding a value to the list using append()
list1.append(124)

In [65]:
list1

[10, 20.4, 'aiden', (7+8j), True, 35, 124]

In [66]:
# Removing a value from the list using remove()
list1.remove(124)

In [67]:
list1

[10, 20.4, 'aiden', (7+8j), True, 35]