# Tuple

This is eexactly like list but immutable.
It's read only mode of list
we enclose the element of tuple in ().

In [1]:
t=(10,20,30,40,50)
type(t)

tuple

t.append[15]->syntax error

In [3]:
t[0]

10

In [4]:
#item assignment doesn't work in tuple

# Range data type

This will represent sequence of numbers.
the elements which will be presented in range they will  not changeble i.e immutable

In [5]:
a=range(10)
a

range(0, 10)

In [6]:
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
b=range(10,20)
for i in b:
    print(i)

10
11
12
13
14
15
16
17
18
19

In [10]:
c=range(4,44,4)
for i in c:
    print(i)

4
8
12
16
20
24
28
32
36
40

In [11]:
c[0]

4

In [12]:
#item assignment is not possible in range
#c[1]=20

In [14]:
l=list(range(5,51,5))
l

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [15]:
tu=tuple(range(3,35,3))
tu

(3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33)

# set data type

When we want to represent a group of values without duplicate
where order is not important thrn we should go for set data type
1. Insertion order is not preserved
2. Duplicates are not allowed
3. Hetrogenuos objects are allowed
4. Index concept is not applicable in set
5. It is mutable
6.Growble in nature
7.we enclosed in {}.

In [32]:
s={10,23.4,5+7j,"raj",True,10}
s

{(5+7j), 10, 23.4, True, 'raj'}

In [33]:
#s[o]

In [34]:
s.add(50)
s

{(5+7j), 10, 23.4, 50, True, 'raj'}

In [35]:
s.remove(10)
s

{(5+7j), 23.4, 50, True, 'raj'}

# Frozenset data type

It is exactly same as set except it is immutable 
add() and remove() will not work here

In [36]:
s

{(5+7j), 23.4, 50, True, 'raj'}

In [38]:
fs=frozenset(s)
type(fs)

frozenset

In [45]:
for i in fs:
 print(i)

True
50
23.4
(5+7j)
raj

# Dict data type

if we want to represent a group of values as key pair form i.e.dict

In [41]:
d={101:"raj",102:"ram",103:"nani"}
d

{101: 'raj', 102: 'ram', 103: 'nani'}

In [43]:
food_item={"starter":"chicken65","chicken":"chicken555"}
food_item

{'starter': 'chicken65', 'chicken': 'chicken555'}

key:Value
key is number then it will  not be in ''/"".
but if it is string then key should be in ''/""
value will be ''/""
key can not be same but value can be same.
it is growable in nature

In [46]:
food_item["fullmeal"]="butter chicken"
food_item

{'starter': 'chicken65', 'chicken': 'chicken555', 'fullmeal': 'butter chicken'}

In [47]:
bd={}
type(bd)

dict

# None data type

None means nothing,not even zero(0),no value associated with it

In [58]:
def m1():
    a=10
    print(ma1())