# Input Statements

There are two methods to take input:
1. ***raw_input()*** *->python2*
2. ***input()*** *->python3*

### input()

*Read the data directly from the keyboard.*

In [1]:
x=input("Enter x value")

Enter x value 10

In [2]:
type(x)

str

*Note ->If we write only input, so by default it will take as str*

In [9]:
a=input("enter name")
print(a)

enter name xander

xander

In [5]:
b=input("Enter a number")
c=int(b)
print(c)
type(c)

Enter a number 12

12

int

In [6]:
type(b)

str

In [7]:
d=int(input("enter a number"))
type(d)

enter a number 123

int

In [8]:
e=float(input("Enter number"))
type(e)

Enter number 12.423

float

In [12]:
# write a program to do sum of 2 i/p values
a=int(input("enter a value"))
b=int(input("enter b value"))
print("Sum:",a+b)

enter a value 2
enter b value 5

Sum: 7

#### How to take multiple i/p at a time

In [16]:
# split() ->splitting the vals.It'll take space as a seperator by default.
a,b=[int(x) for x in input("Enter two values:").split()]
print("product:",a*b)

Enter two values: 2 4

product: 8

In [28]:
a,b,c=[float(x) for x in input("Enter three values:").split(",")]
print("sum of three:",a+b+c)

Enter three values: 2.3,43.2,56.4

sum of three: 101.9

### eval()

*It'll take a string and evaluate the result*

In [29]:
x=eval("13+23*263/2")
x

3037.5

In [32]:
# taking expression as i/p
x=eval(input("Enter expression"))
x

Enter expression 23/2+43*2/4

33.0

In [1]:
# takin' list as i/p
l=eval(input("Enter a list"))
type(l)

Enter a list 2,4,67,8

tuple

# Output Statements

In [2]:
a,b,c,d=41,56,78,8
print(a,b,c,d,sep=",")

41,56,78,8

### formated string

In [4]:
name="Remington"
salary=250000
friend="kimberly"
print("hello {0} your salary is {1} and friend is {2}".format(name,salary,friend))
print("hello {x} your salary is {y} and friend is {z}".format(x=name,y=salary,z=friend))

hello Remington your salary is 250000 and friend is kimberly
hello Remington your salary is 250000 and friend is kimberly