# itterative statements

If we want to excute a group of statements multiple times then we should go for itterative statement.

1.for
2.while

## for loop

If we want to excute some action for every element present in some sequence (collection of string ) then we should go for for loop.

syntax: 
for x in sequence :
    body

 where sequence can be string or any collection
 body will be executed on each element present in string/collection

In [1]:
s="Dhoni"
for x in s:
    print(x)

D
h
o
n
i

In [4]:
list1=[22,"iron",24,26,44,60]
for x in list1:
    print(x)

22
iron
24
26
44
60

In [9]:
# to print character present in string index wise.
name=input("enter a name")
i=0
for x in name:
  print("character present at",i,"index is :",x)
i=i+1

enter a name MS Dhoni

character present at 0 index is : M
character present at 0 index is : S
character present at 0 index is :
character present at 0 index is : D
character present at 0 index is : h
character present at 0 index is : o
character present at 0 index is : n
character present at 0 index is : i

In [38]:
name=("Hello  ")
print(name  * 10)

Hello  Hello  Hello  Hello  Hello  Hello  Hello  Hello  Hello  Hello

In [31]:
a=range(10)
for x in a:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [32]:
# print number from 10 to 1
a=range(10)
for i in a:
    print(10-i)

10
9
8
7
6
5
4
3
2
1

In [33]:
a=range(1,21)
for x in a:
 if x%2!=0:
     print(x)

1
3
5
7
9
11
13
15
17
19

In [34]:
a=range(1,22)
for x in a:
 if x%2==0:
     print(x)

2
4
6
8
10
12
14
16
18
20

In [39]:
a=range(1,21,2)
for i in a:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [52]:
# take number from input and create the table
n=int(input("enter a num"))
for i in range(n,n*11,n):
          print(i)

enter a num 4

4
8
12
16
20
24
28
32
36
40

## While Loop

if we want to execute a group of statements itteratively until some condition false,then go for while loop.

Syntax:

while condition:
   body

In [1]:
# To print number from 1 to 10 in while loop
x=1
while x<=10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [2]:
# Display the sum of first n number
n=int(input("enter a number"))
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
    print("the sum of first",n,"number",sum)

enter a number 5

the sum of first 5 number 1
the sum of first 5 number 3
the sum of first 5 number 6
the sum of first 5 number 10
the sum of first 5 number 15

## nested loop

loop with in the loop

In [5]:
for i in range(4):
    for j in range(4):
        print("i=", i,"j=",j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3

# Transefer Statements

break

we can use break statement inside loops to break loop execution based on some condition.

In [8]:
for i in range(10):
    if i==7:
        print("processing is enough,plz break")
        break
    print(i)

0
1
2
3
4
5
6
processing is enough,plz break

In [9]:
cart=[100,200,400,600,700,900]
for item in cart:
    if item>500:
        print("you get 20% discount on this order")
        break
    print(item)

100
200
400
you get 20% discount on this order

## Continue

we can use continue stament to skip current iteration and continue to next

In [11]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [12]:
cart=[100,200,400,600,700,900]
for item in cart:
    if item>=500:
        print("We can not process this item",item)
        continue
    print(item)

100
200
400
We can not process this item 600
We can not process this item 700
We can not process this item 900

## Pass

pass is a keyword in a python
in python if block is required which won't do anything then we can define the empty block with pass keyword

pass:
it is an empty statement 
it is null statement 
it wont do anything

In [14]:
for i in range(100):
    if i%9==0:
        print(i)
    else:pass

0
9
18
27
36
45
54
63
72
81
90
99

In [15]:
x=200
x

200

In [16]:
del x

del->del is using to delete the variable